<div class="table-responsive">
  <mat-form-field [class.hide]="dataSource.data.length <= 1">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. .github/workflows/build.yml	" #input>
  </mat-form-field>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="total" matSortDirection="desc">
      @for (column of columns; track column) {
      <ng-container [matColumnDef]="column.columnDef" [sticky]="column.sticky">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{column.header}}
        </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="column.link; else noLink">
            <a [href]="column.link(row)">{{column.cell(row)}}</a>
          </ng-container>
          <ng-template #noLink>
            {{column.cell(row)}}
          </ng-template>
        </td>
        <td mat-footer-cell *matFooterCellDef> <b>{{ column.footer ? column.footer() : '' }}</b> </td>
      </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>