<p>
  <mat-button-toggle-group name="toggleChart" aria-label="Toggle Chart" [value]="chartType" (change)="chartType = $event.value; redrawChart()">
    <mat-button-toggle value="total">All</mat-button-toggle>
    <mat-button-toggle value="repo">Repo</mat-button-toggle>
    <mat-button-toggle value="sku">Runner</mat-button-toggle>
    <mat-button-toggle value="user">User</mat-button-toggle>
    <mat-button-toggle value="workflow">Workflow</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group name="timeType" aria-label="Toggle Time" [value]="timeType" (change)="timeType = $event.value; redrawChart()">
    <mat-button-toggle value="total">Total</mat-button-toggle>
    <mat-button-toggle value="daily">Day</mat-button-toggle>
    <mat-button-toggle value="weekly">Week</mat-button-toggle>
    <mat-button-toggle value="monthly">Month</mat-button-toggle>
    <mat-button-toggle value="rolling20">20-Day</mat-button-toggle>
    <mat-button-toggle value="rolling7">7-Day</mat-button-toggle>
  </mat-button-toggle-group>
</p>

<highcharts-chart #chart
  [Highcharts]="Highcharts"
  [options]="options"
  [(update)]="updateFromInput"
  style="width: 100%; height: 400px; display: block;">
</highcharts-chart>