.table-responsive {
  display: block;
  width: 100%;
  max-width: 1250px;
  overflow-x: auto;
  margin-bottom: 40px;
}
mat-table {
  width: 1250px;
  max-width: 1250px;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
  margin: 0px;
}
mat-row,
mat-header-row {
  display: table-row;
}
mat-cell,
mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.table-control {
  display: flex;
  mat-form-field {
    margin-right: 15px;
  }
}