<div class="table-responsive">
  <div class="table-control">
    <mat-form-field>
      <mat-label>Grouping</mat-label>
      <mat-select  [(value)]="tableType" (selectionChange)="tableType = $event.value; ngOnChanges()">
        <mat-option value="sku">Runner</mat-option>
        <mat-option value="repo">Repo</mat-option>
        <mat-option value="workflow">Workflow</mat-option>
        <mat-option value="user">User</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field [class.hide]="dataSource.data.length <= 1">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. .github/workflows/build.yml	" #input>
    </mat-form-field>
    <!-- <div>
      <mat-button-toggle-group name="toggleChart" aria-label="Toggle Chart" [value]="tableType"
        (change)="tableType = $event.value; ngOnChanges()">
        <mat-button-toggle value="sku">Runner</mat-button-toggle>
        <mat-button-toggle value="repo">Repo</mat-button-toggle>
        <mat-button-toggle value="workflow">Workflow</mat-button-toggle>
        <mat-button-toggle value="user">User</mat-button-toggle>
      </mat-button-toggle-group>
    </div> -->
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="total" matSortDirection="desc"
      class="mat-elevation-z8">
      @for (column of columns; track column) {
      <ng-container [matColumnDef]="column.columnDef" [sticky]="column.sticky">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{column.header}}
        </th>
        <td mat-cell *matCellDef="let row">
          {{column.cell(row)}}
          <!-- <ng-container *ngIf="column.icon">
            <mat-icon [matTooltip]="column.tooltip ? column.tooltip(row) : ''" inline="true">{{ column.icon(row)
              }}</mat-icon>
          </ng-container> -->
        </td>
        <td mat-footer-cell *matFooterCellDef> <b>{{ column.footer ? column.footer() : '' }}</b> </td>
      </ng-container>
      }
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>