<h1 mat-dialog-title>Navigate to Billing & Plans</h1>
<div mat-dialog-content>
  <p>Enter your Github {{(data.isEnterprise ? 'enterprise' : 'organization')}} name</p>
  <mat-form-field>
    <mat-label>{{(data.isEnterprise ? 'Enterprise' : 'Organization')}} slug</mat-label>
    <input matInput [(ngModel)]="data.name" placeholder="octodemo">
  </mat-form-field>
  <p>After navigating to Github Billing download your usage report by clicking "Get usage report".</p>
  <p>Click the "Navigate" button below when you're ready.</p>
  <img style="max-width: 100%;" [src]="data.isEnterprise ? 'assets/chrome_htTVyAJEel.png' : 'assets/chrome_5PUHU4YqD9.png'" alt="example screenshot">
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="onToggleEnterprise()">{{'Switch to ' + (data.isEnterprise ? 'Organization' : 'Enterprise')}}</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Navigate</button>
</div>