<div *ngIf="!usage" class="flex-center-horizontally full-width">
  <h1 class="mat-headline-1" style="user-select: none; font-weight: 800; text-align: center;">Github Usage Report</h1>
</div>
<div class="flex-center-horizontally full-width">
  <app-file-upload [text]="status" (fileText)="onFileText($event)"></app-file-upload>
</div>

<mat-progress-bar *ngIf="progress && progress < 99" mode="determinate" [value]="progress"></mat-progress-bar>
<mat-progress-bar *ngIf="progress && progress >= 99" mode="indeterminate"></mat-progress-bar>

<ng-container *ngIf="usage">
  <form class="mat-app-background">
    <mat-form-field appearance="fill">
      <mat-label>Choose a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker" [formGroup]="range" [min]="minDate" [max]="maxDate">
        <input matStartDate placeholder="Start date" formControlName="start">
        <input matEndDate placeholder="End date" formControlName="end">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field style="width: 100%; max-width: 500px;" *ngIf="tabSelected === 'actions'">
      <mat-label>Workflow</mat-label>
      <input type="text" placeholder="build.yml" aria-label="Number" matInput [formControl]="workflowControl"
        [matAutocomplete]="auto" name="workflow">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of _filteredWorkflows | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
      @if (workflowControl.value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="workflowControl.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <div>
      <mat-button-toggle-group name="toggleCurrency" aria-label="Toggle Chart" [value]="currency"
        (change)="currency = $event.value; changeCurrency($event.value)">
        <mat-button-toggle value="minutes">{{ tabSelected === 'shared-storage' ? 'GB' : 'Minutes' }}</mat-button-toggle>
        <mat-button-toggle value="cost">Cost</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </form>
  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">commit</mat-icon>
        Actions
      </ng-template>
      <ng-template matTabContent>
        <div style="margin-top: 25px;"></div>
        <app-actions [data]="usageLinesActions" [currency]="currency"></app-actions>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">backup</mat-icon>
        Shared Storage
      </ng-template>
      <ng-template matTabContent>
        <div style="margin-top: 25px;"></div>
        <app-shared-storage [data]="usageLinesSharedStorage" [currency]="currency"></app-shared-storage>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon" svgIcon="copilot"></mat-icon>
        Copilot
      </ng-template>
      <ng-template matTabContent>
        <div style="margin-top: 25px;"></div>
        <app-copilot [data]="usageLinesCopilot" [currency]="currency"></app-copilot>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</ng-container>

<ng-container *ngIf="!usage && !progress">
  <div class="flex-center-column full-width" style="text-align: center;">
    <p>This application helps you visualize your <a target="_blank"
        href="https://docs.github.com/en/billing/managing-billing-for-github-actions/viewing-your-github-actions-usage">GitHub
        Usage Report</a>.<br> <i>All processing is done client side and your usage report never leaves your
        computer.</i></p>
    <p>To get started go get your usage report and then select it by clicking "Choose File" above.</p>
    <button mat-raised-button color="accent" (click)="navigateToBilling()" style="margin-top: 40px;">
      <mat-icon svgIcon="github"></mat-icon>
      Github Billing & Plans
    </button>
    <a href="https://github.com/austenstone/github-actions-usage-report" target="_blank">
      <button mat-raised-button color="accent" style="margin-top: 40px;">
        <mat-icon>code</mat-icon>
        Source Code
      </button>
    </a>
  </div>
</ng-container>