<div *ngIf="!usage" class="full-width">
  <h1 class="mat-headline-2" style="user-select: none; font-weight: 800; text-align: center;">
    GitHub<br>Usage Report Viewer
  </h1>
  <!-- <h2 class="mat-h2" style="user-select: none; font-weight: 800; text-align: center;">
    <i>Visualize your GitHub Metered Usage!</i>
  </h2> -->
</div>
<div class="flex-center-horizontally full-width">
  <app-file-upload [text]="status" (fileText)="onFileText($event.fileText, $event.type)"></app-file-upload>
</div>

<mat-progress-bar *ngIf="progress && progress < 99" mode="determinate" [value]="progress"></mat-progress-bar>
<mat-progress-bar *ngIf="progress && progress >= 99" mode="indeterminate"></mat-progress-bar>

<div id="usage-report" *ngIf="usageCopilotPremiumRequests">
  <h1>Premium Requests</h1>
</div>
<div id="usage-report" *ngIf="usage">
  <form class="mat-app-background">
    <mat-form-field appearance="fill">
      <mat-label>Choose a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker" [formGroup]="range" [min]="minDate" [max]="maxDate">
        <input matStartDate placeholder="Start date" formControlName="start">
        <input matEndDate placeholder="End date" formControlName="end">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <button *ngIf="range.controls.start.value !== minDate || range.controls.end.value !== maxDate" mat-icon-button
        matSuffix (click)="range.setValue({ start: minDate, end: maxDate })">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field style="flex: 1; max-width: 500px;" *ngIf="tabSelected === 'actions'">
      <mat-label>Workflow</mat-label>
      <input type="text" placeholder="build.yml" aria-label="Number" matInput [formControl]="workflowControl"
        [matAutocomplete]="auto" name="workflow">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of _filteredWorkflows | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
      @if (workflowControl.value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="workflowControl.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <mat-form-field *ngIf="tabSelected === 'actions' || tabSelected === 'copilot'">
      <mat-label>Grouping</mat-label>
      <mat-select [formControl]="groupingControl">
        <mat-option value="sku">Runner</mat-option>
        <mat-option value="repo">Repo</mat-option>
        <mat-option value="workflow">Workflow</mat-option>
        <mat-option value="user">User</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <mat-button-toggle-group name="toggleCurrency" aria-label="Toggle Chart" [value]="currency"
        (change)="currency = $event.value; changeCurrency($event.value)">
        <mat-button-toggle value="minutes">
          {{ tabSelected === 'shared-storage' ? 'GB' : tabSelected === 'actions' ? 'Minutes' : 'Seats' }}
        </mat-button-toggle>
        <mat-button-toggle value="cost">Cost</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <button mat-button *ngIf="usage" (click)="exportHtml()" style="margin-left: auto;">
      <mat-icon>download</mat-icon>
      Export
    </button>
  </form>
  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab *ngIf="this.usageLines.actions.length > 0">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">commit</mat-icon>
        Actions
      </ng-template>
      <ng-template matTabContent>
        <div style="margin-top: 25px;"></div>
        <app-actions [data]="this.usageLines.actions" [currency]="currency" [grouping]="groupingControl.value || 'sku'"></app-actions>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="this.usageLines.sharedStorage.length > 0">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">backup</mat-icon>
        Shared Storage
      </ng-template>
      <ng-template matTabContent>
        <div style="margin-top: 25px;"></div>
        <app-shared-storage [data]="this.usageLines.sharedStorage" [currency]="currency"></app-shared-storage>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="this.usageLines.codespaces.length > 0">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">computer</mat-icon>
        Codespaces
      </ng-template>
      <ng-template matTabContent>
        <div style="margin-top: 25px;"></div>
        <app-codespaces [data]="this.usageLines.codespaces" [currency]="currency"></app-codespaces>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="this.usageLines.copilot.length > 0">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon" svgIcon="copilot"></mat-icon>
        Copilot
      </ng-template>
      <ng-template matTabContent>
        <div style="margin-top: 25px;"></div>
        <app-copilot [data]="this.usageLines.copilot" [currency]="currency" [grouping]="groupingControl.value || 'user'"></app-copilot>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-container *ngIf="!usage && !progress">
  <div class="flex-center-column full-width" style="text-align: center;">
    <p>This application helps you visualize your <a target="_blank"
        href="https://docs.github.com/en/billing/managing-billing-for-github-actions/viewing-your-github-actions-usage">GitHub
        Usage Report</a>.<br> <i>All processing is done client side and your usage report never leaves your
        computer.</i></p>
    <p>To get started go get your usage report and then select it by clicking "Usage Report" above.</p>
    <button mat-raised-button color="accent" (click)="navigateToBilling()" style="margin-top: 40px;">
      <mat-icon svgIcon="github"></mat-icon>
      Download your GitHub usage report
    </button>
    <a href="https://youtu.be/VSrB4Qhqgs8" target="_blank">
      <button mat-button color="accent" style="margin-top: 40px;">
        <mat-icon>video_library</mat-icon>
        Watch Demo
      </button>
    </a>
    <a href="https://github.com/austenstone/github-actions-usage-report" target="_blank">
      <button mat-button color="accent" style="margin-top: 40px;">
        <mat-icon>code</mat-icon>
        Source Code
      </button>
    </a>
  </div>
</ng-container>
