// make the host component style with 100%
:host {
  display: block;
  width: 100%;
  max-width: 1250px;
}

form {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  background: var(--mat-sys-background);
      box-sizing: border-box;
    padding: 10px 0;
  mat-form-field {
    margin-right: 15px;
  }
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.tab-icon {
  margin-right: 8px;
}