@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$github-palette: (
  50: #e6f9e8,
  100: #c0f2c2,
  200: #98ea9b,
  300: #70e374,
  400: #48dc4d,
  500: #00a742,
  600: #00963a,
  700: #008532,
  800: #00742a,
  900: #006322,
  A100: #c0f2c2,
  A200: #98ea9b,
  A400: #48dc4d,
  A700: #00a742,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  )
);

$github-purple-palette: (
  50: #f2f0ff,
  100: #d6d2ff,
  200: #b9b4ff,
  300: #9d96ff,
  400: #8078ff,
  500: #7e72ff,
  600: #6e65e6,
  700: #5e58cc,
  800: #4e4bb2,
  900: #3e3e98,
  A100: #d6d2ff,
  A200: #b9b4ff,
  A400: #8078ff,
  A700: #7e72ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  )
);

$typography: mat.m2-define-typography-config(
  $font-family: '"Noto Sans", sans-serif'
);
@include mat.typography-hierarchy($typography);
@include mat.all-component-typographies($typography);

$primary: mat.m2-define-palette($github-palette);
$accent: mat.m2-define-palette($github-purple-palette);

$dark-theme: mat.m2-define-dark-theme((
 color: (
  primary: $primary,
  accent: $accent,
 ),
  typography: $typography,
  density: 0,
));

// #0d1117

$backgroundColor: #010409; // GitHub background color
$foreground: #e6edf3; // GitHub foreground color
$color: map.get($dark-theme, "color");
$colorBackground: map.get($color, "background");
$colorBackground: map.set($colorBackground, "background", $backgroundColor);
$color: map.set($color, "background", $colorBackground);
$dark-theme: map.set($dark-theme, "color", $color);

$light-theme: mat.m2-define-light-theme((
 color: (
  primary: $primary,
  accent: $accent,
 ),
));

@include mat.core-theme($dark-theme);
@include mat.all-component-themes($dark-theme);

@media (prefers-color-scheme: light) {
 @include mat.core-color($light-theme);
 @include mat.all-component-colors($light-theme);

 :root {
   color-scheme: light;
 }
}

.mat-column-user,
.mat-column-workflow,
.mat-column-repo,
.mat-column-sku {
  background: #e0e0e0 !important;
}

@media (prefers-color-scheme: dark) {
 :root {
   color-scheme: dark;
 }

 a {
   color: mat.get-theme-color($dark-theme, primary, 300);
   text-decoration: none; 
 }

 .mdc-text-field--filled:not(.mdc-text-field--disabled),
 .mat-datepicker-content,
 div.mat-mdc-autocomplete-panel {
  background: #010409 !important;
 }
 .mat-mdc-paginator,
 .mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
  background: #0d1117 !important;
 }

 .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background: mat.get-theme-color($dark-theme, primary, 500) !important;
 }
 .mat-button-toggle-appearance-standard {
  background: #0d1117 !important;
 }

  .mat-column-owner,
  .mat-column-username,
  .mat-column-workflow,
  .mat-column-repo,
  .mat-column-sku {
    background: #161b22 !important;
  }
}

