// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use '_theme-colors.scss' as theme; // Import the m3 theme

html {
  color-scheme: light dark;

  @include mat.theme((
    color: (
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
      theme-type: dark,
    ),
    typography: 'Noto Sans',
    density: 0
  ));
  
  @include mat.typography-hierarchy(
    mat.define-theme(
      (
        typography: (
          use-system-variables: true,
          system-variables-prefix: mat-sys
        )
      )
    )
  );
}

html,
body {
  height: 100%;  
}

body {
  margin: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-center-horizontally {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill {
  width: 100%;
  height: 100%;
}

.flex-center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  margin: 0 10px;
  padding: 0 10px;
  height: 100%;
}

h1 {
  margin: 0 !important;
  padding: 0;
}
.logo {
  margin-top: 3rem;
}

.hide {
  display: none !important;
}

.full-width {
  width: 100%;
}
.table-responsive {
  margin: 1rem 0;
}
table {
  width: 100%;
  @media (min-width: 767px) {
    white-space: nowrap !important;
  }
}

.table-container {
  overflow-x: auto;
  max-height: 700px;
}

.table-control {
  display: flex;
  mat-form-field {
    margin-right: 15px;
  }
}

mat-cell {
  mat-icon {
    vertical-align: bottom !important;
  }
}
