<app-table-workflow-usage [data]="data" [currency]="currency"></app-table-workflow-usage>
<app-chart-bar-top-time [data]="data" [currency]="currency"></app-chart-bar-top-time>
<div style="display: flex; flex: 1 1 0px; flex-wrap: wrap; align-items: center; justify-content: center;">
  <app-chart-pie-user [data]="data" [currency]="currency"></app-chart-pie-user>
  <app-chart-pie-sku [data]="data" [currency]="currency"></app-chart-pie-sku>
</div>
<app-chart-line-usage-daily [data]="data" [currency]="currency"></app-chart-line-usage-daily>
<app-chart-line-usage-time [data]="data" [currency]="currency"></app-chart-line-usage-time>
<!-- <app-usage-table [data]="data"></app-usage-table> -->